/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  
  
  /* ==========================================================================
     Font Faces
     ========================================================================== */
  
  @font-face {
      font-family: 'montserratregular';
      src: url('montserrat-regular-webfont.woff2') format('woff2'),
           url('montserrat-regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
  
  @font-face {
      font-family: 'montserratbold';
      src: url('montserrat-bold-webfont.woff2') format('woff2'),
           url('montserrat-bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }

  @font-face {
    font-family: 'robotolight';
    src: url('../assets/fonts/roboto_light/roboto-light-webfont.woff') format('woff2'),
        url('../assets/fonts/roboto_light/roboto-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

  }
  
  /* ==========================================================================
     Font Faces
     ========================================================================== */
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }

  body{
    font-family: "robotolight", sans-serif;
  }
  nav {
    display: block;
    text-align: left;
    padding: 16px;
  }

  nav figure,
  nav figure img {
    margin-bottom: 0;
  }
  
  .content-wrapper{
      min-height: 100vh;
  }
  
  .bg-login{
    background-image: linear-gradient(rgba(19, 19, 19, 1),rgba(19, 19, 19, 0.8));
  }
  
  .section-centered {
    position: relative;
  }
  
  .section-form {
    display: inline-block;
    max-width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    padding: 0 16px;
    color: #FFF;
    text-align: center;

    transform: translateX(-50%) translateY(-50%);
  }

  .form-control{
    border-radius: 4px !important;
    height: 55px;
    color: #fff;
    border-color: rgba(19, 19, 19, .4);
    background-color: rgba(19, 19, 19, .2);
  }

  .form-plate{
    height: 65px;
    margin-top: 16px;
    text-align: center;
    color: #00FF00;
    font-size: 32px;
  }

  .form-plate:focus {
    color: #00FF00;
  }

  
  .input {
    color: #00FF00;
  }

  .exit {
    color: #FC6E51;
  }
  
  .form-control:focus {
    background: transparent;
   }

  .btn{
    height: 55px;
  }
  
  .btn-green {
    color: #232323;
    font-weight: bold;
    background: #00FF00;
  }

  .btn-google-signin {
    font-size: 0px;
    background: url('../assets/btn-google.png') center top no-repeat;
  }

  .section-form form > p {
    font-size: 18px;
  }

  .section-form form label {
    font-size: 14px;
    display: block;
    text-align: left;
  }

  .dashboard {
    padding-top: 60px;
  }

  .card-dashboard, 
  .table-dashboard{
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .1);
  }

  .card-dashboard header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .card-dashboard header h3{
    font-size: 18px;
  }
  
  .card-dashboard header h2{
    font-size: 24px;
  }

  .card-dashboard header h4{
    font-size: 14px;
  }
  
  .card-dashboard .amount-card{
    text-align: center;
    margin-top: 16px;
  }

  .card-dashboard .amount-card span,
  .card-dashboard .amount-card p{
    display: inline-block;
    color: #00FF00;
  }
  .card-dashboard .amount-card span{
    font-size: 24px;
  }

  .card-dashboard .amount-card p{
    font-size: 60px;
    font-weight: bold;
  }
  
  .table-dashboard table {
    color: #fff;
  }
  
  .table-dashboard table thead th{ 
    border: none !important;
    font-weight: bold;
    font-size: 16px;
  }

  .table-dashboard table thead th:last-child{
    text-align: center;
  } 

  .table-dashboard table tbody tr td{ 
    border-color: rgba(19, 19, 19, .3) !important;
    font-weight: bold;
    font-size: 14px;
  }

  .table-pagination {
    text-align: center;
  }

  .table-pagination ul { 
    display: inline-block;
  }
  .table-pagination ul li a {
    color: #fff;
    border-color: rgba(19, 19, 19, .4);
    background-color: rgba(19, 19, 19, .2);
  } 
  
  .table-pagination ul li a:hover { 
    color: #fff;
    border-color: rgba(19, 19, 19, .8);
    background-color: rgba(19, 19, 19, .6);
  }

  .table-pagination ul li.active a{ 
    color: #fff;
    border-color: #00FF00 !important;
    background-color: #00FF00 !important;
  }

  /************
  * Media Query
  *************/
  /* tablet */
  @media (min-width: 577px) { 
  }
  /* mobile */
  @media (max-width: 576px) { 
  }